*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(65, 65, 65);
    text-align: center;
    padding: 16px;
}


/* unvisited link */

a:link {
    color: rgb(249, 132, 204);
}


/* visited link */

a:visited {
    color: rgb(77, 77, 77);
}


/* mouse over link */

a:hover {
    color: rgb(65, 64, 64);
}

#recipes {
    padding: 16px;
    margin: 25px;
}